@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes appearlist {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disapearloader {
  from {
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.mainacceuil .SectionRestaurants,
.mainpages .SectionRestaurants, .mainacceuil .SectionMenu,
.mainpages .SectionMenu, .mainacceuil .SectionPresentation,
.mainpages .SectionPresentation, .mainacceuil .SectionLocalisation,
.mainpages .SectionLocalisation, header {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

main .Entree h3::after,
main .Plats h3::after,
main .Desserts h3::after {
  border-bottom: 3px solid #99E2D0;
  content: "";
  display: block;
  width: 3em;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

* {
  font-family: "Roboto", sans-serif;
}

header {
  grid-template-columns: repeat(1, 1fr);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 20px;
}
header h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin-bottom: 22px;
}
header a {
  position: absolute;
  left: 22px;
  top: 9px;
  font-size: 1.2em;
}
header img {
  max-width: 100%;
}
@media (min-width: 740px) {
  header img {
    width: 100%;
    height: 25em;
    object-fit: cover;
  }
}
@media (min-width: 960px) {
  header img {
    width: 100%;
    height: 25em;
    object-fit: cover;
  }
}

main h1 {
  font-family: "Shrikhand", cursive;
}

footer {
  color: white;
  background-color: #353535;
  padding: 2em;
}
@media (min-width: 740px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
    padding-top: 3em;
  }
}
@media (min-width: 960px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
  }
}
footer h3 {
  font-family: "Shrikhand", cursive;
  padding-bottom: 15px;
}
@media (min-width: 740px) {
  footer h3 {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (min-width: 960px) {
  footer h3 {
    padding-left: 2em;
    padding-right: 2em;
  }
}
footer a {
  color: white;
}
@media (min-width: 740px) {
  footer ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
  }
}
@media (min-width: 960px) {
  footer ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
  }
}
footer li {
  padding-bottom: 10px;
}
@media (min-width: 740px) {
  footer li {
    padding-bottom: 0;
    margin-right: 20px;
  }
}
@media (min-width: 960px) {
  footer li {
    padding-bottom: 0;
    margin-right: 20px;
  }
}
footer i {
  margin-right: 6px;
}

.mainacceuil {
  align-items: stretch;
}

.mainacceuil .SectionLocalisation,
.mainpages .SectionLocalisation {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  background: #eaeaea;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, rgb(234, 234, 234) 100%);
}
.mainacceuil .SectionLocalisation i,
.mainpages .SectionLocalisation i {
  padding: 0 0.5em 0 0;
}
.mainacceuil .SectionPresentation,
.mainpages .SectionPresentation {
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 0 3em;
  background: #f6f6f6;
  text-align: center;
}
.mainacceuil .SectionPresentation h2,
.mainpages .SectionPresentation h2 {
  padding: 0 5em;
}
.mainacceuil .SectionPresentation p,
.mainpages .SectionPresentation p {
  padding: 1em 5em 2em;
}
.mainacceuil .SectionMenu,
.mainpages .SectionMenu {
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 1em;
}
.mainacceuil .SectionMenu h2,
.mainpages .SectionMenu h2 {
  justify-self: start;
}
.mainacceuil .SectionMenu ul,
.mainpages .SectionMenu ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  counter-reset: compteur;
  width: 90%;
  margin: 1em 1em 0;
}
@media (min-width: 740px) {
  .mainacceuil .SectionMenu ul,
  .mainpages .SectionMenu ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 960px) {
  .mainacceuil .SectionMenu ul,
  .mainpages .SectionMenu ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
.mainacceuil .SectionMenu ul li p,
.mainpages .SectionMenu ul li p {
  display: inline-block;
  position: relative;
  left: -0.8em;
}
.mainacceuil .SectionMenu ul li i,
.mainpages .SectionMenu ul li i {
  padding: 0 1em 0 0;
}
.mainacceuil .SectionMenu ul li::before,
.mainpages .SectionMenu ul li::before {
  counter-increment: compteur;
  content: counter(compteur);
  position: relative;
  left: -1.9em;
  padding: 0.3em 0.6em;
  border-radius: 70%;
  background-color: #9356DC;
  color: white;
}
.mainacceuil .SectionMenu ul li:hover,
.mainpages .SectionMenu ul li:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.mainacceuil .SectionMenu ul li:hover i,
.mainpages .SectionMenu ul li:hover i {
  color: #9356DC;
}
.mainacceuil .SectionRestaurants,
.mainpages .SectionRestaurants {
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 1em;
  background: #f6f6f6;
}
.mainacceuil .SectionRestaurants h2,
.mainpages .SectionRestaurants h2 {
  justify-self: start;
}
.mainacceuil .SectionRestaurants ul,
.mainpages .SectionRestaurants ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  margin: 1em 0;
  width: 95%;
}
@media (min-width: 740px) {
  .mainacceuil .SectionRestaurants ul,
  .mainpages .SectionRestaurants ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .mainacceuil .SectionRestaurants ul,
  .mainpages .SectionRestaurants ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mainacceuil .SectionRestaurants ul li,
.mainpages .SectionRestaurants ul li {
  display: inline-block;
  width: 100%;
}
.mainacceuil .SectionRestaurants ul li a,
.mainpages .SectionRestaurants ul li a {
  display: block;
  position: relative;
  padding: 0 0 0.7rem 0;
  color: #000000;
  border-radius: 1.5em;
  background-color: white;
}
.mainacceuil .SectionRestaurants ul li a .sticker,
.mainpages .SectionRestaurants ul li a .sticker {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.4em 0.6em;
  color: #008766;
  background: #99e2d0;
  border-radius: 0.2em;
}
.mainacceuil .SectionRestaurants ul li a img,
.mainpages .SectionRestaurants ul li a img {
  padding: 0 0 0.5rem 0;
  width: 100%;
  height: 12.5em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0 0;
}
.mainacceuil .SectionRestaurants ul li a h3,
.mainacceuil .SectionRestaurants ul li a p,
.mainpages .SectionRestaurants ul li a h3,
.mainpages .SectionRestaurants ul li a p {
  padding: 0 1rem 0.5rem;
}
.mainacceuil .SectionRestaurants ul li a .btn__like,
.mainpages .SectionRestaurants ul li a .btn__like {
  position: absolute;
  bottom: 1.5em;
  right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

@media (min-width: 740px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 960px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .SectionTitre {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
main .SectionTitre h2 {
  font-family: "Shrikhand", cursive;
  padding-left: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
main .SectionTitre h2 button {
  font-size: 1em;
  position: relative;
}
main .Entree h3,
main .Plats h3,
main .Desserts h3 {
  background-color: #F6F6F6;
  text-transform: uppercase;
  padding: 30px 0 10px 20px;
}
main .Entree ul,
main .Plats ul,
main .Desserts ul {
  display: grid;
  gap: 15px;
  padding: 4px;
}
main .Entree ul li,
main .Plats ul li,
main .Desserts ul li {
  background-color: white;
}
main .Entree ul .list-item,
main .Plats ul .list-item,
main .Desserts ul .list-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 1em;
}
main .Entree ul .list-item h4,
main .Plats ul .list-item h4,
main .Desserts ul .list-item h4 {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}
main .Entree ul .list-item p,
main .Plats ul .list-item p,
main .Desserts ul .list-item p {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}
main .Entree ul .list-item strong,
main .Plats ul .list-item strong,
main .Desserts ul .list-item strong {
  position: absolute;
  right: 2em;
  bottom: 1em;
  transition: all 0.5s;
  font-weight: 600;
}
main .Entree ul .list-item span,
main .Plats ul .list-item span,
main .Desserts ul .list-item span {
  position: absolute;
  right: -3em;
  height: 100%;
  width: 3em;
  background-color: #99e2d0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 1.3em;
  color: white;
}
main .Entree ul .list-item,
main .Plats ul .list-item,
main .Desserts ul .list-item {
  animation: appearlist 1000ms forwards;
  opacity: 0;
}
main .Entree ul .list-item--1,
main .Plats ul .list-item--1,
main .Desserts ul .list-item--1 {
  animation-delay: 200ms;
}
main .Entree ul .list-item--2,
main .Plats ul .list-item--2,
main .Desserts ul .list-item--2 {
  animation-delay: 400ms;
}
main .Entree ul .list-item--3,
main .Plats ul .list-item--3,
main .Desserts ul .list-item--3 {
  animation-delay: 600ms;
}
main .Entree ul .list-item--4,
main .Plats ul .list-item--4,
main .Desserts ul .list-item--4 {
  animation-delay: 800ms;
}
main .Entree ul .list-item--5,
main .Plats ul .list-item--5,
main .Desserts ul .list-item--5 {
  animation-delay: 1000ms;
}
main .Entree ul .list-item--6,
main .Plats ul .list-item--6,
main .Desserts ul .list-item--6 {
  animation-delay: 1200ms;
}
main .Entree ul .list-item--7,
main .Plats ul .list-item--7,
main .Desserts ul .list-item--7 {
  animation-delay: 1400ms;
}
main .Entree ul .list-item--8,
main .Plats ul .list-item--8,
main .Desserts ul .list-item--8 {
  animation-delay: 1600ms;
}
main .Entree ul .list-item--9,
main .Plats ul .list-item--9,
main .Desserts ul .list-item--9 {
  animation-delay: 1800ms;
}
main .Entree ul .list-item:hover span,
main .Plats ul .list-item:hover span,
main .Desserts ul .list-item:hover span {
  right: 0em;
}
main .Entree ul .list-item:hover strong,
main .Plats ul .list-item:hover strong,
main .Desserts ul .list-item:hover strong {
  right: 5em;
}
main .Entree ul .list-item:hover h4,
main .Plats ul .list-item:hover h4,
main .Desserts ul .list-item:hover h4 {
  width: 65%;
}
main .Entree ul .list-item:hover p,
main .Plats ul .list-item:hover p,
main .Desserts ul .list-item:hover p {
  width: 65%;
}
main .Commander {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
}
main .Commander .btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: all 250ms;
  padding-left: 60px;
  padding-right: 60px;
}
@media (min-width: 740px) {
  main .SectionTitre,
  main .Entree,
  main .Plats,
  main .Desserts,
  main .Commander {
    background-color: #F6F6F6;
    width: 80%;
    align-items: center;
  }
  main .SectionTitre h2,
  main .Entree h2,
  main .Plats h2,
  main .Desserts h2,
  main .Commander h2 {
    justify-content: center;
  }
  main .SectionTitre h3,
  main .Entree h3,
  main .Plats h3,
  main .Desserts h3,
  main .Commander h3 {
    padding-left: 150px;
  }
  main .SectionTitre ul,
  main .Entree ul,
  main .Plats ul,
  main .Desserts ul,
  main .Commander ul {
    padding: 0 7%;
  }
}
@media (min-width: 960px) {
  main .SectionTitre,
  main .Entree,
  main .Plats,
  main .Desserts,
  main .Commander {
    background-color: #F6F6F6;
    width: 80%;
    align-items: center;
  }
  main .SectionTitre h2,
  main .Entree h2,
  main .Plats h2,
  main .Desserts h2,
  main .Commander h2 {
    justify-content: center;
  }
  main .SectionTitre h3,
  main .Entree h3,
  main .Plats h3,
  main .Desserts h3,
  main .Commander h3 {
    padding: 20px 7%;
  }
  main .SectionTitre button,
  main .Entree button,
  main .Plats button,
  main .Desserts button,
  main .Commander button {
    padding-left: 50px;
  }
  main .SectionTitre ul,
  main .Entree ul,
  main .Plats ul,
  main .Desserts ul,
  main .Commander ul {
    padding: 0 7%;
  }
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: all 250ms;
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.btn__like .heart-away,
button .heart-away {
  display: block;
  transform: scale(1);
  transition: all 0.5s;
}
.btn__like .heart-hover,
button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s;
  background-color: black;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.btn__like:hover .heart-away,
button:hover .heart-away {
  opacity: 0;
  transform: scale(0);
}
.btn__like:hover .heart-hover,
button:hover .heart-hover {
  opacity: 1;
  transform: scale(1);
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: white;
  position: fixed;
  animation: 1s disapearloader 2000ms ease forwards;
}

.loadericon {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loadericon::after,
.loadericon::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #9356DC;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loadericon::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
